* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  user-select: none;

  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

h1 {
  padding-left: 100px;
}

body {
  background: gray;
  /* overflow-x: hidden; */
}

#table1 {
  width: 80%;
}
#logo {
  position: absolute;
  top: 0;
  /* left: 0; */
}

#topnavContainer {
  position: relative;
  left: 20%;
}

#search {
  width: 40%;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

#topnavContainer a {
  text-decoration: none;
  padding: 10px;
  opacity: 75%;
  color: white;
}

#topnavContainer a:hover {
  background: lightgray;
  border-radius: 5px;
  opacity: 75%;
}

#nav {
  position: sticky;
  top: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2vh;
  margin-right: 2vh;
}

#nav-links {
  /* background: red; */
  justify-content: space-around;

  position: absolute;
  top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 20%;
  /* transform: translateX(100%); */
  transition: transform 0.5s ease-in;
}

#nav-links li {
  list-style: none;
  display: block;
  opacity: 0;
}

#nav-links a {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: red;
  text-decoration: none;
  letter-spacing: 3px;
}

#burger {
  display: block;
  position: sticky;
  top: 0;
  cursor: pointer;
}

#burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background: black;
  transition: all 0.3s ease;
}

#nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.row_poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_poster:hover {
  transform: scale(1.2);
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_posterlarge {
  max-height: 250px;
}

.row {
  color: white;
  margin-left: 20px;
}

/* banner */
.banner {
  background-image: url("/images/banner.webp");
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 448px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}

/*  FOOTER */

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
  text-align: center;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
